
.cart-row{
    @include pad{
        margin-bottom: 40px;
    }
}
.col-cart{
    padding-left: 0;
    padding-right: 0;
}
.cart-item-img{
    height: 110px;
    background-size: cover;
    background-position: center center;
    @include sm{
        width: 380px;
    }
    @include pad{
        width: 110px;
    }
}
.cart-item-content{
    @include pad{
        width: 81%;
    }
    p{
        margin-bottom: 0;
    }
    a{
        color: gray;
    }
}
.cart-item-info{
    margin-bottom: 8px;
}
.cart-item-name{
    font-size: $font-size-lg;
    @include pad{
        font-size: $font-size-base;
    }
    @include lg{
        font-size: $font-size-lg;        
    }
}
.cart-count{
    width: 144px;
    margin-bottom:  30px;
    @include pad{
        width: 114px;
        margin-right: 10px;
    }
    @include lg{
        width: 144px;
        margin-right: 38px;
    }
    .cart-count-input{
        height: 48px;
        @include pad{
            height: 38px;
        }
        @include lg{
            height: 48px;
        }
    }
    .cart-count-btn{
        width: 48px;
        height: 48px;
        font-weight: bold;
        @include pad{
            width: 38px;
            height: 38px;
        }
        @include lg{
            width: 48px;
            height: 48px;
        }
    }
}
.cart-item-total{
    font-size: $font-size-lg;
    font-weight: bold;
    @include pad{
        margin-right: 10px;
        font-size: $font-size-base;
    }
    @include lg{
        margin-right: 38px;
        font-size: $font-size-lg;
    }
}

.order-col{
    @include pad{
        height: 258px;
        max-width: 30%;
        margin-left: 2%;
    }
}
.order-table{
    width: 100%;
    td{
        padding: 5px 0;
    }
    tr td:nth-of-type(1){
        padding-left: 15px;
    }
    tr td:nth-of-type(2){
        text-align: right;
        padding-right: 15px;
    }
    tfoot{
        font-size: $font-size-lg;
        font-weight: bold;
    }
}
.checkout-btn{
    font-size: 1.5rem;
    transition: all 0.3s;
    &:hover{
        text-decoration: none;
    }
}








