.checkout-title {
  font-size: 1.4rem;
  margin-bottom: 24px;
  @include pad {
    font-size: 1.5rem;
  }
}
.recipient-col {
  padding-left: 0;
  padding-right: 0;
}
.recipient-form {
  label {
    font-size: $font-size-lg;
  }
}
.custom-input {
  height: 58px;
  font-size: 1.1rem;
  letter-spacing: 1.2;
  background-color: $secondary;
  border: 1px solid $secondary !important;
  border-radius: 0 !important;
  color: $dark !important;
  &:focus {
    background-color: $warning;
    border: 1px solid $warning !important;
    box-shadow: none;
  }
}
.custom-select {
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.form-group-margin {
  @include pad {
    margin-top: 38px;
  }
}
.custom-checkout-btn {
  background-color: $warning;
  border: none;
  font-size: $font-size-lg;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    background-color: $accent;
  }
  &:focus {
    outline: none;
  }
}
.checkout-col {
  // height: 193px;
  margin-left: 10%;
}
.invalid-feedback {
  color: #91091e;
}

// success 頁面
.success-container {
  height: 518px;
  background-image: url(../images/success.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.success-text-bg {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: $dark;
  @include pad {
    font-size: 1.5rem;
  }
}
.continue-btn {
  font-size: 1.5rem;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
  }
}
