
header{
    margin-bottom: 180px;
    @include lg{
        margin-bottom: 120px;
    }
}
.banner{
    height: 496px;    
    background-size: cover;
    background-position: center center;
}

.frosted-wrap{
    position: relative;
    max-width: 320px;
    background-size: cover;
    background-position: center center;
    transition: all 0.5s;
    span{
        writing-mode: vertical-rl;
        letter-spacing: 8px;
        z-index: 5;
        color: $dark;
        display: block;
        height: 146px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover span{
        color: $white;
    }
    &:hover .frosted-bg{
        background-color: rgba(207, 69, 92, .7);
    }
}
.frostedGlass-1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    &:after{
        content: "";
        position: absolute;
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        background-image: url(../../images/curry-1.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(3px);
    }
    &:hover:after{
        filter: none;
    }
}
.frostedGlass-2{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    &:after{
        content: "";
        position: absolute;
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        background-image: url(../../images/curry-2.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(3px);
    }
    &:hover:after{
        filter: none;
    }
}
.frostedGlass-3{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    &:after{
        content: "";
        position: absolute;
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        background-image: url(../../images/curry-4.jpg);
        background-size: cover;
        background-position: center center;
        filter: blur(3px);
    }
    &:hover:after{
        filter: none;
    }
}
.frosted-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 220, 52, .8);
    z-index: 5;
    transition: all 0.5s;
}



