.interactive {
  position: absolute;
  top: 20px;
  right: 24px;
  color: $success;
  font-size: 28px;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $success !important;
    text-decoration: none !important;
  }
}

.interactive_active {
  font-weight: bold;
}
