.item-card {
  position: relative;
  margin-bottom: 30px;
  @include pad {
    margin-bottom: 30px;
  }
}
.item-card-ribbon {
  position: absolute;
  left: 21px;
  width: 130px;
  height: 37.8px;
  background-color: $danger;
  color: $dark;
}
.popular_ribbon-bg {
  background-color: $warning;
}
.new-ribbon-bg {
  background-color: #ed6f83;
}
.item-card-pic {
  height: 315px;
  background-size: cover;
  background-position: center center;
}
.item-card-info {
  background-color: $primary;
  color: $dark;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  p {
    margin-top: 14px !important;
    margin-bottom: 14px !important;
    @include iphone6 {
      font-size: $font-size-lg;
    }
  }
}
.item-card-info_name {
  text-align: left;
}
item-card-info_price {
  text-align: center;
}
.item-card-btn-cart {
  font-size: $font-size-lg;
  height: 65px;
  background-color: $secondary;
  border: none;
  transition: all 0.5s;
  &:hover {
    background-color: $warning;
  }
  &:focus {
    outline: none;
  }
}
