
.process-steps{
    width: 100%;
    display: flex;
    justify-content: space-between;
    // 為了“橫線”
    position: relative;
}
// 圓圈外框
.process-steps-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $warning;
    background-color: $info;
    z-index: 10;
    // 為了中間的實心圓
    display: flex;
    justify-content: center;
    align-items: center;
}
// 圓圈外框 - 更淺的顏色
.process-steps-circle.active{
    border: 1px solid #FFEA83;
}
// 內部的實心圓（使用“偽元素”來製作）
.process-steps-circle.active:after{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #FFEA83;
}
// 圓圈裡面的勾勾
.process-steps-circle.checked{
    background-color: #FFEA83;
    font-size: 0.75rem;
    color: $info;
    i{
        margin-top: 1px;
    }
}

// 橫線（使用“偽元素”來製作）
.process-steps:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 1px;
    background-color: $warning;
}



