.landingPage-section {
  margin-bottom: 140px;
  @include sm {
    margin-bottom: 180px;
  }
  @include lg {
    margin-bottom: 220px;
  }
}
.landingPage-section_container {
  display: flex;
  justify-content: center;
}
.landingPage-section_row {
  width: 85%;
}
.landingPage-section_content {
  @include lg {
    padding-left: 60px;
    padding-right: 0px;
  }
}
.landingPage-section-pic {
  height: 360px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 24px;
  @include lg {
    height: 520px;
    margin-top: -40px;
  }
  @include xl {
    height: 480px;
  }
}
.landingPage-section-text {
  color: $dark;
  p {
    font-size: 1rem;
    line-height: 2;
    @include sm {
      font-size: 1.2rem;
    }
    @include lg {
      margin-right: 40px;
      font-size: 1.2rem;
    }
    @include xl {
      margin-right: 50px;
    }
  }
}
.landingPage-section-title {
  margin-top: -80px;
  margin-bottom: 40px;
  letter-spacing: 1.9px;
  @include sm {
    margin-top: -100px;
  }
  @include pad {
    margin-top: -100px;
  }
  @include lg {
    text-align: left;
    margin-top: 0;
  }
}

.landingPage-title-fontSize {
  font-size: 1.2rem;
  @include sm {
    font-size: 1.7rem;
  }
  @include lg {
    font-size: 2.2rem;
  }
}
.landingPage-subtitle-fontSize {
  font-size: 1rem;
  @include sm {
    font-size: 1.5rem;
  }
  @include lg {
    font-size: 2rem;
  }
}
.landingPage-subtitle {
  color: $secondary;
}

// 超出邊界的效果：使用負值的 margin
.landingPage-section-break-title {
  color: $primary;
  @include lg {
    margin-top: -110px;
  }
}
