
.landingPage-section{
    min-height: 910px;
    margin-bottom: 180px;
    @include iphone6{
        min-height: 820px;
    }
    @include sm{
        min-height: 670px;
    }
    @include pad{
        min-height: initial;
        height: 600px;
    }
    @include lg{
        height: 420px;
        margin-bottom: 120px !important;
    }
}
.landingPage-section-pic{
    height: 360px;
    background-size: cover;
    background-position: center center;
    @include lg{
        height: 480px;
    }
}
.landingPage-section-text_1{
    @include lg{
        writing-mode: vertical-rl;
    }
    p{
        line-height: 2;
        @include lg{
            margin-right: 40px;
        }
        @include xl{
            margin-right: 50px;
        }
    }
}
.landingPage-section-title_1{    
    margin-top: -120px;
    text-align: center;
    letter-spacing: 7.5;
    @include lg{
        writing-mode: vertical-rl;
        text-align: left;
        margin-top: 0;
    }
}
.landingPage-section-title_2{
    margin-top: -120px;
    text-align: center;
    letter-spacing: 7.5;
    @include lg{
        writing-mode: vertical-rl;
        text-align: left;
        margin-top: 0;
        display: flex;
        align-items: flex-end;
    }
}
.landingPage-section-text_2{
    @include lg{
        writing-mode: vertical-rl;
        display: flex;
        align-items: flex-end;
    }
    p{
        line-height: 2;
        @include lg{
            margin-right: 40px;
        }
        @include xl{
            margin-right: 50px;
        }
    }
}

.landingPage-title-fontSize{
    font-size: 1.5rem;
    @include pad{
        font-size: 2rem;
    }
}

// 超出邊界的效果：使用負值的 margin
.landingPage-section-break{
    @include lg{
        margin-top: -30px;
        margin-bottom: -30px;
    }

}





